/* variables for gradient color */
:root{
    --primary: rgba(40, 48, 72, 0.897);
    --secondary: rgba(11, 52, 66, 0.096);
}

/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Main */

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a{
    text-decoration: none;
    color: #333;
}

h1, h2, h3{
    padding-bottom: 15px;
}

p{
    margin: 10px 0;
}

/* Utility classes */
.container {
    margin: auto;
    max-width: 1000px;
    overflow: auto;
}

.text-primary{
    color: #f8942f;
}

.lead{
    font-size: 20px;
}

.btn{
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn-light{
    background: #fff;
    color: #222;
}

.btn:hover{
    background: #222;
    color: #f8942f;
}

.bg-dark{
    background: #333;
    color: #fff;
}

.bg-light{
    background: #f4f4f4;
    color: #333;
}

.bg-primary{
    background: #f8942f;
    color: #333;
}

.clr{
    clear: both;
}

/* Navigation Bar */

#navbar{
    background: #222;
    color: #fff;
    overflow: auto;
}

#navbar a{
    color: #fff;
}

#navbar .logo{
    float: left;
    padding: 0.8em;
}

#navbar ul{
    float: right;
    list-style: none;
    /* margin-right: 2em;
    margin-top: 0.8em; */
}

#navbar ul li{
    float: left;
}

#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.active{
    background: #333;
    color: #f8942f;
    cursor: pointer;
}

/* showcase */
#showcase{
    background: linear-gradient(135deg, var(--primary), var(--secondary)), url(../img/pexels-felipe-hueb-2747901.jpg) no-repeat center center/cover;
    /* height: 50vh; */
    height: 400px;
}

#showcase .showcase-content{
    color: #fff;
    text-align: center;
    padding-top: 10vh;
}

#showcase .showcase-content h1{
    font-size: 50px;
    line-height: 1.3em;
}

#showcase .showcase-content p{
    margin-bottom: 35px;
}

/* Home information */
#home-info {
    height: 400px;
}

#home-info .info-img{
    background: url(../img/info-img-c.jpg) no-repeat center top/cover;
    float: left;
    width: 50%;
    min-height: 100%;
}

#home-info .info-content{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 30px;
    overflow: hidden;
}

#home-info .info-content p{
    padding-bottom: 25px;
}

/* Features */
#features .box{
    float: left;
    width: 33.3%;
    padding: 20px;
    text-align: center;
}

#main-footer{
    text-align: center;
    background: #333;
    color: #f4f4f4;
    padding: 10px;
}

/* About Page */

#about-info{
    background: blanchedalmond;
}

#about-info .info-left{
    float: left;
    width: 50%;
    min-height: 100%;
    padding: 30px;
    text-align: justify;
    /* background: #f8942f; */
}

#about-info .info-right{
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img{
    display: block;
    margin: auto;
    width: 100%;
    /* border-radius: 50%; */
    opacity: 0.8;
}

/* Testimonials */
#testimonials{
    padding-top: 20px;
    text-align: center;
    background: url(../img/bg-tm.jpg) no-repeat center center/cover;
    height: 600px;
}

#testimonials .testimonial{
    height: 200px;
    border-radius: 15px;
    border-top-left-radius: 78px;
    position: relative;
    opacity: 0.9;
}

#testimonials .testimonial img{
    float: left;
    width: 20%;
    min-height: 100%;
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    top: -20px;
    left: -20px;
}

#testimonials .testimonial p{
    float: right;
    width: 80%;
    min-height: 100%;
    padding: 0 20px;
    text-align: justify;
}

#testimonials h2{
    color: #696262;
    background: #eeeeee;
    /* text-shadow: 1px 1px #222; */
    display: inline;
    opacity: 0.9;
}