@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

/* utility classes */

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
    padding-inline: var(--padding-inline-section);
}

.flex{
    display: flex;
    align-items: center;
}

.hover-link{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-link:hover{
    color: var(--accent-color);
}

.primary-btn{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: #f4f4f4 !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.primary-btn:hover{
    background-color: var(--accent-color-dark);
}

.secondary-btn{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color)!important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.secondary-btn:hover{
    border-color: var(--accent-color);
    color: var(--accent-color)!important;
}

/* top banner */

.top-banner{
    background: url(./assets/top-banner-bg.png);
    background-size: 300px;
    /* background-repeat: no-repeat; */
    background-color: #4fb3d4;
}

.banner-text{
    color: #f4f4f4;
    padding: 15px 30px;
    text-align: center;
}

/* nav bar */

.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo img{
    width: 200px;
}

.nav-links{
    flex-basis: 701px;
}

.nav-links ul{
    justify-content: flex-end;
    gap: 40px;
}

/* header section */

.header-section{
    margin-top: 3rem;
    justify-content: space-between;
}

.header-right img{
    width: 500px;
}

.header-left{
    max-width: 40vw;
}

.header-left .primary-btn{
    margin-top: 2rem;
}

/* company section */
.company-logos{
    justify-content: space-between;
    margin-top: 2rem;
}

/* .company-logo{
    height: 40px;
} */

.company-logos img{
    width: 10%;
    aspect-ratio: 3/2;
    object-fit: contain;
    /* removes white background */
    mix-blend-mode: color-burn;
}

.companies-header{
    margin-top: 5rem;
    text-align: center;
    color: var(--primary-text-color);
}

/* features section */
.features-section{
    /* padding: 80px var(--padding-inline-section) 0; */
    margin-top: 80px;
    background-image: url(./assets/bg-feature-section.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.features-header{
    text-align: center;
}

.features-header a i{
    margin-left: 4px;
}

.features-heading-text{
    margin-bottom: 1.5rem;
}

.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}

.features-card{
    flex-direction: column;
    gap: 20px;
    width: 30%;
    /* margin-top: 2rem; */
    text-align: center;
}

/* feature description section */
.big-feature-section{
    margin-top: 30px;
}

.big-feature-container{
    gap: 30px;
}

.feature-img img{
    width: 100%;
}

.feature-desc{
    max-width: 40vw;
    flex-direction: column;
    align-items: flex-start;
}

/* examples section */
.examples-section{
    margin-top: 1rem;
}

.examples-header{
    text-align: center;
}

.examples-header a i{
    margin-left: 4px;
}

.examples-heading-text{
    margin-bottom: 1.5rem;
}

.examples-area{
    margin-top: 2rem;
    justify-content: space-between;
}

.examples-card{
    width: 23%;
    min-height: 300px;
    position: relative;
    background: #111;
    transition: all 0.2s ease-in-out;
}

.examples-card:hover{
    box-shadow: 0 0 10px #888;
}

.examples-card:nth-child(1){
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url('./assets/example_images/example-image-1.jpeg');
    background-size: cover;
}

.examples-card:nth-child(2){
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url('./assets/example_images/example-image-2.jpeg');
    background-size: cover;
}

.examples-card:nth-child(3){
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url('./assets/example_images/example-image-3.jpeg');
    background-size: cover;
}

.examples-card:nth-child(4){
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url('./assets/example_images/example-image-4.jpeg');
    background-size: cover;
}

.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: #f4f4f4;
}

/* cta section */

.cta-section{
    background: #183b56;
    padding-block: 30px;
    margin-block: 60px;
}

.cta-section-container{
    /* width: 100%; */
    /* flex-direction: column; */
    overflow: hidden;
    gap: 30px;
    color: #f4f4f4;
}

.cta-section-container p{
    color: #f4f4f4;
}

.cta-section-desc{
    width: 50%;
}

.cta-section-desc p{
    width: 70%;
}

.cta-section-desc h5{
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 20px;
}

.panel-list ul{
    list-style:disc;
}

.panel-list-left{
    padding: 0 10px 0;
    width: 50%;
}

.panel-list-right{
    width: 50%;
}

.panel-list-left a{
    color: #f4f4f4;
    border-bottom: 1px dashed #b9cde4;
}

.cta-section-buttons{
    margin-top: 3rem;
    gap: 10px;
}

.cta-section-buttons .secondary-btn{
    color: #f4f4f4!important;
}

.cta-section-img{
    width: 50%;
    /* position: relative; */
}

.cta-section-bg {
    width: 100%;
}

.cta-section-img-box{
    position: relative;
}

.cta-section-bg-front{
    position: absolute;
    width: 280px;
    top: 130px;
    left: 135px;
}

.panel-price{
    position: absolute;
    top: 200px;
    left: 210px;
    color: #183b56;
    font-weight: 600;
    font-size: 20px;
    z-index: 10;
}

.dollar{
    position: absolute;
    top: 250px;
    left: 210px;
    color: #8ba6c0;
    font-size: 24px;
    z-index: 10;
}

.price{
    position: absolute;
    top: 234px;
    left: 280px;
    color: #2294ed;
    font-size: 50px;
    z-index: 10;
}

.panel-price-2{
    position: absolute;
    top: 300px;
    left: 210px;
    color: #183b56;
    font-weight: 600;
    font-size: 20px;
    z-index: 10;
}